@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --text: black;
  --accent: black;
  --accentText: white;
  --border: black;
  --font-family: 'system-ui';
}

html {
  background-color: var(--background);
}

.theming-test {
  font-family: var(--fontFamily);
}

.theming-test__site {
  background-color: var(--background);
  color: var(--text);
}

.theming-test__palette {
  background-color: white;
  color: black;
}

.theming-test__color-picker {
  appearance: none;
  --webkit-appearance: none;
  --moz-appearance: none;
  width: 40px;
  height: 42px;
  background-color: transparent;
  cursor: pointer;
}

.theming-test__color-picker::-webkit-color-swatch {
  border: solid 1px #f6f6f6;
  border-radius: 8px;
}

.theming-test__dropdown {
  all: unset;
  width: 100%;
}

.theming-test__button {
  background-color: var(--accent);
  color: var(--accentText);
}
