:root {
  --background: black;
  --text: black;
}

.theming-test__navigation {
  background-color: var(--background);
  color: var(--text);
}

.theming-test__hero {
  background-color: var(--background);
  color: var(--text);
}


/* .ns-nav__item:hover {
    color: var(--ns__link-hover);
    font-weight: 600;
  }
  .ns-nav__item_current {
    color: var(--ns__link-current);
    font-weight: bold;
  } */
